{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StudentsEat - Food Delivery Service</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'frontend:index' %}"><img class="img-fluid" src="{% static 'img/logo.svg' %}" style="width: 25%; height: 25%" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'frontend:index' %}">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% url 'frontend:contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead about text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="text-white text-center largetext">
                BUILT BY STUDENTS,<br/>FOR STUDENTS
            </h1>
              <hr class="my-4">
          </div>
          <div class="col-lg-12 mx-auto">
            <a class="-arrow-down icon" href=""></a>
          </div>
        </div>
      </div>
    </header>


    <section id="About Us">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h1 class="largetext">ABOUT US</h1>
            <hr class="my-4">
            <p class="text-dark mb-4">StudentsEat is an on-campus food delivery service which delivers local food and beverages directly to any students’ location within a campus.
StudentsEat was founded by a group of students in late 2017, who recognized a better way for students to balance their hunger and studies.</p>
          </div>
        </div>
      </div>
    </section>


    <section id="About Us" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading largetext">Direct Delivery</h1>
            <hr class="my-4">
            <p class="text-dark mb-4">With us, you will never need to leave your seat for food again. Simply let us know where you’re studying, and we’ll deliver your food directly to you. Save time by not having to pack your bags and trek across your campus.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="About Us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="section-heading largetext">Food. Fast.</h1>
            <hr class="my-4">
            <p class="text-dark mb-4">Nobody wants to wait an hour for their food to arrive. With knowledgeable Student Agents delivering your food, you can trust in their ability to grab and deliver your order – fast.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="About Us" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-24 text-center">
            <h1 class="section-heading largetext">Less Fees</h1>
            <hr class="my-4">
            <p class="text-dark mb-4">Living the student life and paying tuition fees is not easy. Let’s not complicate life even more by forcing you to pay five-dollar delivery fees. StudentsEat is committed to keeping delivery fees as low as possible so that you do not feel guilty about taking care of your hunger at school.</p>
          </div>
        </div>
      </div>
    </section>

    <section id="Ready To Order">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h1 class="section-heading largetext">Ready To Order?</h1>
            <hr class="my-4">
            <p class="mb-5"></p>
          </div>
        </div>
        <div class="col-lg-8 mx-auto text-center ">
            <a class="btn btn-primary btn-xl js-scroll-trigger"  href="{% url 'frontend:campus' %}">Explore Your Campus</a>
          </div>
      </div>
    </section>

    <section id="footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
          </div>
        </div>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
