{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>StudentsEat - Food Delivery Service</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'frontend:index' %}"><img class="img-fluid" src="{% static 'img/logo.svg' %}" style="width: 25%; height: 25%" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#HowItWorks">How It Works</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'frontend:contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead home text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text">
              <strong>Eat More. Wait Less.</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'frontend:campus' %}">Explore Your Campus</a>
          </div>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">We've got what you need!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Our app will allow you to streamline your hunger-solving process with the ability to save your favourite food, track your orders, save your payment methods, budget efficiently, and more.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
          </div>
        </div>
      </div>
    </section>

    <section id="HowItWorks">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">How It Works</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-fluid" src="{% static 'img/laptop.svg' %}" style="width: 25%; height: 25%" alt="">
              <h3 class="mb-3">Choose your vender</h3>
              <p class="text-muted mb-0">We have different restaurants, inside and outside of your campus, to choose from.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-fluid" src="{% static 'img/plateknife.svg' %}" style="width: 25%; height: 25%" alt="">
              <h3 class="mb-3">Place Your Order</h3>
              <p class="text-muted mb-0">Browse through our growing menu options and satisfy your cravings by placing an order.</p>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-fluid" src="{% static 'img/student.svg' %}" style="width: 25%; height: 25%" alt="">
              <h3 class="mb-3">Your Order, Delivered</h3>
              <p class="text-muted mb-0">Your order is delivered to your exact spot. Save time by avoiding the long line-ups.</p>
            </div>
          </div>
        </div>
      </div>
        </div>

    </section>

    <section id="commingsoon">
      <div class="container background">
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <div class="service-box mt-5 mx-auto">
              <h1 class="mb-3">Comming Soon</h1>
              <p class="text-muted mb-0">Our app will allow you to streamline your hunger-solving process with the ability to save your favourite food, track your orders, save your payment methods, budget efficiently, and more.</p>
            </div>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <div class="service-box mt-5 mx-auto">
              <img class="img-fluid" src="{% static 'img/app.png' %}"  alt="">

            </div>
          </div>
        </div>
      </div>
    </section>



    <section id="services">

      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Deliver With Us</h3>
              <p class="text-muted mb-0">With our flexible hours, earn extra cash around your classes, keep your tips, and get paid on a weekly basis.</p>
            </div>
              <div class="col-lg-8 mx-auto">
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>
              </div>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Partner With Us</h3>
              <p class="text-muted mb-0">Become a vendor with us and reach more customers. Open your doors to thousands of hungry students.</p>
                 <div class="col-lg-8 mx-auto">
                     <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <h3 class="mb-3">Grow With Us</h3>
              <p class="text-muted mb-0">StudentsEat is expanding into other cities and campuses across North America. Join our growing team!</p>
                <div class="col-lg-8 mx-auto">
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Learn More</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Get In Touch!</h2>
            <hr class="my-4">
            <p class="mb-5"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>123-456-6789</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:info@studentseat.com">info@studentseat.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/creative.min.js' %}"></script>

  </body>

</html>
